/app-fdroid-release-signed.apk
/app-fdroid-release-signed.apk.idsig
/app/google-services.json
/app/google-services.json-production
/app/keystore.jks
/bin/bin/
/bin/envvars.sh
/bin/include/
/bin/readme.txt
/build
/captures
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/dbnavigator.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/sonarlint
/.idea/workspace.xml
*.iml
/.kotlin
/local.properties
local.properties
/.metadata/
misc/uml/chance.vpp.bak*
/misc/uml/.chance.vpp.lck
/module/*/.attach*
/module/build/sonar-resolver/properties
/.vscode/settings.json
/misc/images/dice/haxagram/.~lock.haxagram.odt#
/misc/images/dice/virtue/.~lock.cubes.odt#
