/build
/captures
.cxx
docs/uml/chance.vpp.bak*
/docs/uml/.chance.vpp.lck
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
*.iml
/local.properties
local.properties
/module/colorpicker/build
/module/dialog/about/build
/module/dialog/dice/build
/module/dialog/side/build
/module/repository/build
/module/zoom/build
/.metadata/
