/build
/captures
.cxx
misc/uml/chance.vpp.bak*
/misc/uml/.chance.vpp.lck
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/sonarlint
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
*.iml
/local.properties
local.properties
/module/dialog/colorpicker/build
/module/dialog/about/build
/module/dialog/dice/build
/module/dialog/side/build
/module/repository/build
/module/zoom/build
/.metadata/
